
.icon-mail:before { content: '\2709'; } /* '✉' */
.icon-phone:before { content: '\e065'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */