.about-section{
    text-align: center;
    padding: 25px;

    h2{
        @include text-style;
        font-size: 30px;
        padding: 23vh 0 5vh;
        
    }

    p{
        @include text-style;
        text-transform: none; 
        font-weight: 500;
        text-align: center;
        padding: 0 12vw;
        font-size: 14px;
        margin-bottom: 15vh;
    }

    a{
        @include text-style;
        font-size: 16px;
        border: white 1px solid;
        align-items: center;
        padding: 10px 30px;
    
    }

}
/*================= Media Query ==============*/

.about-section{
    @media(min-width: 500px){
    
        h2{
            font-size: 36px;
            margin-bottom: 20px;
        }
    
        p{
            font-size: 16px;
        }
    
    }//end media
    }//end about


.about-section{
@media(min-width: 900px){

    h2{
        font-size: 36px;
        padding: 10vh 15vw 0;
        margin-bottom: 20px;
    }

    

}//end media
}//end about