 //background images go here


.about-section{//about banner
   
    background-image: url("../images/bg-section-about-us.jpg");
    height: 80vh;
    width: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
 
}


.about-section{
    @media(min-width:500px){
       background-position: center ;


    
    }//end media
    }//end about


.about-section{
    @media(min-width:900px){
        background-position: right;
        height: 70vh;

    }//end media
    }//end about