

.map-background{
    background-image: url("../images/map.jpg");
    background-size: auto 100%;
    background-position: center top;
    background-repeat: no-repeat;
    width:100%;
    height: 50vh;
    padding: 15vh 10vw;

    h5{
        color: rgb(58, 56, 56);
        font-weight: 700;
        font-size: 32px;
        margin-bottom: 20px;
        text-align: center;
    }

    a{
        text-decoration: none;
        list-style: none;
        text-transform: uppercase;
        font-weight: 600;
        padding: 5px 10px;
        font-size: 18px;
        color: rgb(58, 56, 56) ;
        border: rgb(58, 56, 56) solid 2px;
    }
}


.footer-contact-us{
    background-color: $footerSectionOneTextColor;
    width: 100%;
    height: 50vh;


    h5{
        color: $whiteColor;
        font-weight: 600;
        font-size: 30px;
        padding: 20% 10% 10%; 
        text-align: center;
    }

    a{
        
        text-decoration: none;
        list-style: none;
        text-transform: uppercase;
        font-weight: 600;
        padding: 10px;
        font-size: 18px;
        color: white;
        border: white solid 2px;
    }
}
