

.map-background{
    background-image: url("../images/map.jpg");
    background-size: auto 100%;
    background-position: center top;
    background-repeat: no-repeat;
    width:100%;
    height: 60vh;
    padding: 15vh 10vw;
    text-align: center;

    h5{
        color: rgb(58, 56, 56);
        font-weight: 700;
        font-size: 32px;
        margin-bottom: 20%;
    }

    a{
        text-decoration: none;
        list-style: none;
        text-transform: uppercase;
        font-weight: 600;
        padding: 5px 10px;
        font-size: 18px;
        color: rgb(58, 56, 56) ;
        border: rgb(58, 56, 56) solid 2px;

    }
}


.footer-contact-us{
    background-color: $footerSectionOneTextColor;
    width: 100%;
    height: 60vh;
    text-align: center;


    h5{
        color: $whiteColor;
        font-weight: 600;
        font-size: 28px;
        padding: 30% 10% 20%; 

    }

    a{
        text-decoration: none;
        list-style: none;
        text-transform: uppercase;
        font-weight: 600;
        padding: 10px;
        font-size: 18px;
        color: white;
        border: white solid 2px;
    }
}

//============= wide version =============

.footer-section2{

    @media (min-width:500px) {
        height: 400px;

        
        
        .map-background{
            object-fit: cover;
            width: 50%;
            position: relative;
            left: 50%;
            height:400px;
            padding: 0;

            a{
                background-color: $blueColor;
                color: white;
                border: none;
                font-size: 16px;
            }
    
            h5{
              margin: 0;
              padding:0 15%;
              padding-top: 150px;
              padding-bottom: 50px;

        }}
        
        .footer-contact-us{
            width: 55%;
            position: relative;
            top: -400px;
            height: 400px;

            a{
                background-color: $blueColor;
                color: white;
                border: none;
                font-size: 16px;
            }
    
            h5{
               padding: 0 10%;
               padding-top: 150px;
               padding-bottom: 50px;

        }      
        }
}   }
    
.footer-section2{

    @media (min-width:1365px) {
        .map-background{
            background-size: 100%;
        }

}  } 