.light-blue-wave{
    height: auto;
    width: 100%;
    position: relative;
    left: 0;
    top: -30px;    
}
footer{
    background-color:#109EDC;
    text-align: center;


    li, p{
        @include text-style;
        font-size: 13px;
        font-weight: normal;
        font-family: $bodyFont;
    }

    .footer-section3{
       

        .footer-nested{
            display: block;
        }

        .footer-group{
           padding-bottom: 20px;
            
        }
        .footer-image{
            width: 200px;
            height: auto;
        }
    } 
}


    .footer-contact{
        ul{
        display: flex;
        justify-content: space-evenly;
        }
    }


.footer-section3{//tablet
    @media (min-width:500px) {
        height: 120px;
        .light-blue-wave{
            height: 100px;
            top: -70px; 
        }
        .footer-nested{
            position: relative;
            top: -160px;
        }
        .footer-c-c{
            position: relative;
            left: 40%;
            width: 60%;
            
        }
        .footer-logo{
            position: relative;
            top:60px ;
            left: 0px;
        }

        li, p{
            font-size: 16px;
        }

}   }


.footer-section3{//tablet
    @media (max-width:500px) {
        .footer-image{
            width: 100px;
            height: auto;
        }

    }}