.light-blue-wave{
    height: auto;
    width: 100%;
    position: relative;
    left: 0;
    top: -30px;    
}
footer{
    background-color: $blueColor;
    text-align: center;


    li, p{
        @include text-style;
        font-size: 13px;
        font-weight: normal;
        font-family: $bodyFont;
    }

    .footer-section3{
       

        .footer-nested{
            display: block;
        }

        .footer-group{
           padding-bottom: 20px;
            
        }
        
      }  
}

    .footer-contact{
        
        ul{
        display: flex;
        justify-content: space-evenly;
        }
    }


.footer-section3{//tablet

    @media (min-width:500px) {
        .light-blue-wave{
            height: 100px;
            top: -70px; 
        }

        ul{
            display: row;
        }

}   }
