.light-blue-wave{
    height: 150px;
    width: 100%;
    position: relative;
    left: 0;
    top: -20px;    
}
footer{
    background-color: $blueColor;
    text-align: center;

    li, p{
        @include text-style;
        font-size: 13px;
        font-weight: normal;
        font-family: $bodyFont;
    }

    .footer-section3{
        height: 30vh;
        position: relative;
        padding-bottom: 20px;
        top: -20px;

        .footer-nested{
            display: block;
        }

        .footer-group{
           padding-bottom: 20px;
            
        }
        
      }  
}

.footer-contact{
        
    ul{
    display: flex;
    justify-content: space-evenly;
    }

}


.footer-section3{//tablet

    @media (min-width:500px) {
        .light-blue-wave{
            top: -35px; 
            height: 150px; 
        }

        ul{
            display: row;
        }

}   }


.footer-section3{//desktop
    @media (min-width:900px) {
        position: relative;

        .light-blue-wave{
            top: -40px;    
        }

        .footer-group{
            padding-bottom: 0;
             
         }
}   }


.footer-section3{
    @media (min-width:1679px) {
        

        .light-blue-wave{
            top: -80px;    
        }
}   
}