.light-blue-wave{
    height: 50px;
    width: 100%;
    position: relative;
    left: 0;
    top:-40px;
    object-fit: cover;
    
}
footer{
    text-align: center;

    li, p{
        @include text-style;
        font-size: 13px;
        font-weight: normal;
        font-family: $bodyFont;
    }

    .footer-section3{
        background-color: #0099cc;
        
        

        .footer-nested{
            display: block;
        }

        .footer-group{
           padding-bottom: 20px;
            
        }
        
        .footer-contact{
           display: inline-flex;
        }
    }
}