

.product-selection{
    background-color: $formBackgroundColor;   
    width: 100%;
    padding-top: 20px;
    text-align: center;

    .blue-wave-border{
        width: 100%;
        height: 30px;
        position: relative;
        top: -40px;
    }

    h2{
        @include text-style;
        font-size: 28px;
        letter-spacing: normal;
        padding-bottom: 10px;
    }

    h3{
        text-transform: capitalize;
        text-align: center;
        color: white;
        font-size: 16px;
        font-weight: 500;
        padding-bottom: 20px;
        border-bottom: white solid 1px;
        margin: 0 20px 30px ;
    }

    .product-placement{
        height: 20vh;
    }

    
    #form-btn{
        @include text-style;
        padding: 10px;
        background-color: $blueColor;
        border: none;
        font-size: 16px;
        width: 85vw;
        margin: 20px 20px 30px 20px;
        font-weight: 500;
    }
    
}

//============= form =============

form{
    text-align: left;

    .form-group{
     display: inline-block;
     margin:0 20px ;
    }

    label{
        @include text-style;
        text-transform: capitalize;
        font-size: 18px;
    }
   select{
       background-color: lightgray;
       height: 30px;
       font-size: 14px;
       padding: 5px 10px;
       width: 85vw;
       margin: 5px 0 20px 0;
       color: grey;
    }


    .form-select-group:after {
        content: "";

        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid gray;  
        
        position:relative;
        right:25px;
        top:15px;

        pointer-events: none;
        }

    select {
        -o-appearance: none;
        -ms-appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        }
}

//============= Media query =============
.product-selection{
@media (min-width: 500px) {
    padding-top: 0;
    
    h3{
        color: $blueColor;
        font-size: 20px;
    }

   .blue-wave-border{
       position: relative;
       top: -40px;
   }

   
    form{
          
       label{
           padding-left: 5px;
       }

        .form-select-group:after {
            content: "";

            border-top: 10px solid $blueColor;  
        }

    }

    .form-group{
        width: 40vw;

        select{
            width: 42vw;
        }
    }




}//p-s end
}//media query

.product-selection{

@media (min-width: 900px){
    .blue-wave-border{
        top: -60px;
    }

   form{

    max-width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;

   }

   .form-group{
       width: 15vw;

    select{
    width: 15vw;
    }

   }

  

} //end media query

}//end .product-selection