.product-selection{
    background-image: url("../images/wave-blue-dark.png");
    background-color: red;
    position: absolute;
    left: 0;
    top: 260vh;
    background-repeat: no-repeat;
    
    width: 100%;
    height: 100vh;
}