

.product-selection{
    background-color: $formBackgroundColor;   
    width: 100%;
    padding-top: 20px;

    .blue-wave-border{
        width: 100%;
        height: 30px;
        position: relative;
        top: -40px;
    }

    h2{
        @include text-style;
        font-size: 28px;
        letter-spacing: normal;
        padding-bottom: 10px;
    }

    h3{
        text-transform: capitalize;
        text-align: center;
        color: white;
        font-size: 16px;
        font-weight: 500;
        padding-bottom: 20px;
        border-bottom: white solid 1px;
        margin: 0 20px 30px ;
    }

    .product-placement{
        height: 20vh;
    }

    
    #form-btn{
        @include text-style;
        padding: 10px;
        background-color: $blueColor;
        border: none;
        font-size: 16px;
        width: 85vw;
        margin: 20px 20px 30px 20px;
    }
    
}

//============= form =============

form{
    .form-group{
     display: inline-block;
     margin:0 20px ;
    }

    label{
        @include text-style;
        text-transform: capitalize;
        font-size: 18px;
    }
   select{
       background-color: lightgray;
       height: 30px;
       font-size: 14px;
       padding: 5px;
       width: 85vw;
       margin: 5px 0 20px 0;
    }


    .form-select-group:after {
        content: "";

        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid gray;  
        
        position:relative;
        right:25px;
        top:15px;

        pointer-events: none;
        }

    select {
        -o-appearance: none;
        -ms-appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        }
}

//============= Media query =============

@media only screen and (max-width: 850px) and (min-width: 500px) {
    
    .product-selection{   

        h3{
            color: $blueColor;
            font-size: 20px;
        }

    }

    form{
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        select{
            width: 40vw;
        }

        .form-select-group:after {
            content: "";

            border-top: 10px solid $blueColor;  
        }

    }



}//media query


@media (min-width: 850px){
   form{
    display: flex;
    width: 100%;
   }

   select{
       width: 10vw;
   }

} //end media query