

.product-selection{
    background-color: $formBackgroundColor;   
    width: 100%;
    padding-top: 20px;

    .blue-wave-border{
        width: 100%;
        height: 30px;
        position: relative;
        top: -40px;
    }

    h2{
        @include text-style;
        font-size: 28px;
        letter-spacing: normal;
        padding-bottom: 10px;
    }

    h3{
        text-transform: capitalize;
        text-align: center;
        color: white;
        font-size: 16px;
        font-weight: 500;
        padding-bottom: 20px;
        border-bottom: white solid 1px;
        margin: 0 20px 30px ;
    }
    .product-placement{
        height: 20vh;
    }
    
}

//============= form =============

form{
    .form-group{
     display: inline-block;
     margin:0 20px ;
    }

    label{
        @include text-style;
        text-transform: capitalize;
        font-size: 18px;
    }
   select{
       background-color: lightgray;
       height: 30px;
       font-size: 14px;
       padding: 5px;
       width: 85vw;
       margin: 5px 0 20px 0;
    }

    button{
        @include text-style;
        padding: 10px;
        background-color: $blueColor;
        border: none;
        font-size: 16px;
        width: 85vw;
        margin: 20px 20px 30px 20px;
    }
}