/* Hamburger Menu */


.menu {
	position: relative;
	top: 0;
	left: 0;
	background-color: $navBoxColor; opacity: .6;
	height: 50px;
	width: 100%;
	cursor: pointer;
	transition: 0.3s;
	z-index: 7000;
}
.menu span {
	position: absolute;
	height: 3px;
	width: 25px;
	background-color: #fff;
   	top: 50%;
    left: 95%;
    transform: translate(-50%,-50%);
    transition: 0.3s;
}
.menu span:before {
	content: '';
	position: absolute;
	top: -8px;
	background-color: #fff;
	height: 3px;
	width: 25px;
	transition: 0.3s;
}
.menu span:after {
	content: '';
	position: absolute;
	top: 8px;
	background-color: #fff;
	height: 3px;
	width: 25px;
	transition: 0.3s;
}

.menu.active span { background-color: transparent; }
.menu.active span:before { transform: rotate(45deg);top: 0; }
.menu.active span:after { transform: rotate(-45deg);top: 0; }

/* End */

/* Navigationbar*/

.navbar-menu {
    background-color: $navBoxColor;
    opacity: .8;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    transform: translateX(-100%);
    transition: 0.5s;
    padding-top: 50px;
} 
.navbar-menu.active { transform: translateX(0);transition: 0.5s; }
.navbar-menu .menu-listing { padding: 0;margin: 0;text-align: right; }
.menu-listing li { display: inline-block; }
.menu-listing li a {
	background-color: $navBoxColor;
	color: $whiteColor;
	display: block;
	font-size: 1rem;
	height: 50px;
	line-height: 50px;
	padding: 0 20px;
	letter-spacing: 1px;
	text-decoration: none;
    transition: 0.5s;
}
.menu-listing li a:hover { background-color: $blueColor;color: #fff;transition: 0.7s; }

/* End */



@media only screen and (max-width:500px) {

	/* Navigationbar */

	.navbar-menu { height: auto;z-index: 4000; }
	.menu-listing li { display: block; }
	.navbar-menu .menu-listing { text-align: center; }

	/* End */



}
/*=========== wider version ========= */
@media only screen and (min-width:500px) {
	.menu{
		display: none;
	}

}
