.ham{
    position: absolute;
    /* always keep ham on top of everything */
    z-index: 1000;
    top: 20px;
    right: 20px;
    width: 36px;
    height: 36px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    /* show the menu image */
    background-image: url("https://ljc-dev.github.io/testing0/ham.svg");
    background-size: 100%;
}