
.top-header{
    position: absolute;
    left: 0;
    top:0;
    z-index: 1000;
    background-color: $navBoxColor;
    width: 100%;
    height: 50px;
    opacity: .8;

    .th-left,  .th-right{
        display: none;
    }
    
    .logo{
    width: auto;
    max-height: 30px;
    margin: 10px;
    }
}

.banner-text{
    position: absolute;
    left: 0;
    top: 200px;
    z-index: 1000;
    text-align: center;

    h1{
        @include text-style;
        font-size: 26px;
        color: $whiteColor;
        font-weight: 700;
        padding: 0 10px;
     
    }

    a{
        display: block;
        text-transform: uppercase;
        text-decoration: none;
        color: white;
        margin: 5% 30%;
        border: 1px solid;
        padding: 15px;
    }
}

/*=========== tablet version ========= 

.top-header{
    background-color: none;

    .th-left,  .th-right{
        display: flex-start;
    }

    @media (min-width: 450px){
        
        display: grid;
        grid-template-areas: "th-left th-middle th-right ";

        .th-left{
            grid-area: "th-left";
        }

        .th-middle{
            grid-area: "th-middle";
        }

        .th-right{
            grid-area: "th-right";

        }
    }
}

*/
