/*.top-header{

    @media (min-width: 450PX){

        display: grid;
        grid-template-areas: "th-left th-middle th-right ";

        .th-left{
            grid-area: "th-left";
        }

        .th-middle{
            grid-area: "th-middle";
        }

        .th-right{
            grid-area: "th-right";

        }
    }
}

*/

.top-header{
    background-color: $navBoxColor;
    width: 100%;
    height: 50px;
    opacity: .8;

    .th-left,  .th-right{
        display: none;
    }
    
    .logo{
    width: auto;
    max-height: 30px;
    margin: 10px;
    }
}

.banner-text{
    margin: 40% auto;

    h1{
        font-size: 1.75rem;
        text-align: center;
        color: $whiteColor;
        font-weight: 700;
     
    }
}