
.top-header{
    position: absolute;
    left: 0;
    top:0;
    z-index: 8000;
 
    .th-left,  .th-right{
        display: none;
    }
    
    .logo{
    width: auto;
    height: 30px;
    margin: 10px;
    }
}

}

/*=========== tablet version ========= */



.top-header{
    
    
    @media (min-width: 500px){
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
        
        .th-left,  .th-right{
        display: inline;
        @include text-style;
        font-weight: 400;
        font-size: 10px;
        
        }

        .th-right{
            
            a{
                display: inline;
                color: white;
            }
        }//end .th-right

        .th-middle{
            margin-top: 10px;
        }
        .logo{
            height: 50px;
            margin: 0;
        }
    } // end media query
}//end t-h


