/*.top-header{

    @media (min-width: 450PX){

        display: grid;
        grid-template-areas: "th-left th-middle th-right ";

        .th-left{
            grid-area: "th-left";
        }

        .th-middle{
            grid-area: "th-middle";
        }

        .th-right{
            grid-area: "th-right";

        }
    }
}

*/
header{
    height: 100vh;
}

.top-header{
    background-color: $navBoxColor;
    width: 100%;
    height: 50px;
    opacity: .8;

    .th-left,  .th-right{
        display: none;
    }
    
    .logo{
    width: auto;
    max-height: 30px;
    margin: 10px;
    }
}

.banner-text{
    margin-top: 40%;

    h1{
        font-size: 1.75rem;
        text-align: center;
        color: $whiteColor;
        font-weight: 700;
     
    }

    a{
        text-align: center;
        font-size: larger;
        display: block;
        text-transform: uppercase;
        text-decoration: none;
        color: white;
        margin: 5% 30%;
        border: 1px solid;
        padding: 15px;
    }
}