
.top-header{
    position: absolute;
    left: 0;
    top:0;
    z-index: 8000;
 
    .th-left,  .th-right{
        display: none;
    }
    
    .logo{
    width: 74px;
    height: 30px;
    margin: 10px;
    }
}



/*=========== tablet version ========= */



.top-header{
    
    
    @media (min-width: 500px){
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
        
        .logo{
        width: 150px;
        height: auto;
        margin: 10px;
        }
        .th-left,  .th-right{
        display: inline;
        width: 40%;
        @include text-style;
        font-weight: 400;
        font-size: 14px;

        a{
            display: inline;
            color: white;
            padding-left: 20px;
        }
      
        }//end .th-right

        .th-middle{
            margin-top: 10px;
        }
        

    } // end media query
}//end t-h


.top-header{    
    @media (min-width: 900px){
        .th-left, .th-right {
           width: auto;
        }

        .th-right{
            padding-right: 20px
        }

        .logo{
            width: 200px;
            height: auto;
            margin: 0;
            }
}}