/* pager */
.cycle-pager { 
  text-align: center; 
  width: 100%; 
  z-index: 500; 
  position: absolute; 
  top: 65vh; 
  overflow: hidden;
}

.cycle-pager span { 
  font-family: arial; 
  font-size: 30px; 
  width: 20px; 
  height: 20px; 
  display: inline-block; 
  color: $whiteColor; cursor: pointer; 
}

.cycle-pager span.cycle-pager-active { color: $blueColor;}
.cycle-pager > * { cursor: pointer;}

/*============ slides specs ==========*/

.slideshow-container{
  height: 80vh;

  img{
    height: 80vh;
    object-fit: cover;
  }
}


.banner-text{
  position: absolute;
  left: 0;
  top: 150px;
  z-index: 1000;
  text-align: center;

  h1{
      @include text-style;
      font-size: 26px;
      color: $whiteColor;
      font-weight: 700;
      padding: 0 10px;
   
  }

  a{
      display: block;
      text-transform: uppercase;
      text-decoration: none;
      color: white;
      margin: 5% 30%;
      border: 1px solid;
      padding: 15px;
  }
}