/* pager */
.cycle-pager { 
  text-align: center; 
  width: 100%; 
  z-index: 500; 
  position: absolute; 
  top: 65vh; 
  overflow: hidden;
}

.cycle-pager span { 
  font-family: arial; 
  font-size: 30px; 
  width: 20px; 
  height: 20px; 
  display: inline-block; 
  color: $whiteColor; cursor: pointer; 
}

.cycle-pager span.cycle-pager-active { color: $blueColor;}
.cycle-pager > * { cursor: pointer;}


@media(min-width:500px){
  .cycle-pager span{
    font-size: 50px;
  }

  .cycle-pager{
    position: absolute;
    top: 80vh;
  }
}


@media(min-width:900px){
  .cycle-pager{
    position: absolute;
    top: 70vh;
  }
}
/*============ slides specs ==========*/

.slideshow-container{
  height: 80vh;


  img{
    height: 80vh;
    object-fit: cover;
    background-repeat: no-repeat;
  }
}

.slides{
  text-align: center;


  .banner-text{
    position: absolute;
    left: 0;
    top: 150px;
    z-index: 1000;
    width: 100%;

    h1{
        @include text-style;
        font-size: 26px;
        color: $whiteColor;
        font-weight: 700;
    }

    a{
        display: block;
        text-transform: uppercase;
        text-decoration: none;
        color: white;
        border: 1px solid;
        padding: 10px;
        text-align: center;
        margin: 30px 30%;
    }
  }
  
}//.slides

/*=========== tablet version ========= */

.slides{
  @media (min-width: 500px) {


    .banner-text{
      display: block;
      width: 100%;
      padding: 0 38px;
      top: 200px;

      h1{
        font-size: 40px;
        margin-bottom: 30px;;
      }
            
      a{
        margin: 0 20px;
        padding: 10px 10p;
      }     

      #banner-links{
          display: flex;
          justify-content: center; 
    } 

    }//end banner text

  }//end m-q
}//end-slides 


/*=========== desktop version ========= */


.slides{
  @media (min-width: 900px) {
    .banner-text{
      padding: 0 10%;
      top: 200px;

      h1{
        font-size: 55px;
        font-weight: 700;

      }
    }
    img{
      height: 85vh;
    }

  }//end media
}//end slides