/* pager */
.cycle-pager { 
  text-align: center; 
  width: 100%; 
  z-index: 500; 
  position: absolute; 
  top: 65vh; 
  overflow: hidden;
}

.cycle-pager span { 
  font-family: arial; 
  font-size: 30px; 
  width: 16px; 
  height: 16px; 
  display: inline-block; 
  color: $whiteColor; cursor: pointer; 
}

.cycle-pager span.cycle-pager-active { color: $blueColor;}
.cycle-pager > * { cursor: pointer;}

/*============ slides specs ==========*/

.slideshow-container{
  height: 80vh;

  img{
    height: 80vh;
    object-fit: cover;
  }
}
