h1, h2, h3, h4, h5, h6, label{
    font-family: $headingFont;
    text-transform: uppercase;
    letter-spacing: normal;
}


input, p, li, a, button, label, option{
   font-family: $bodyFont;
   letter-spacing: normal;
   line-height: 1.25;
}

a{
    text-decoration: none;
    list-style-type: none;
}