//content color

$navBoxColor: #333333;
$whiteColor: #ffffff;
$blueColor: #3399cc;
$viewSelectionTextColor: #666666;
$formBoxColor: #cccccc;
$footerBoxColor: #333366;
$footerSectionOneBox: #ccccff;
$footerSectionOneTextColor: #333366;


//tyoography

@import url(https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,500&display=swap);

$headingFont: 'Roboto Condensed', sans-serif;

$bodyFont:'Roboto', sans-serif;


 