//content color

$formBackgroundColor: #154A66;
$navBoxColor: #333333;
$whiteColor: #ffffff;
$blueColor: #3399cc;
$viewSelectionTextColor: #666666;
$formBoxColor: #cccccc;
$videoBorder: #244A64;
$footerBoxColor: #BEDCEF;
$footerSectionOneBox: #ccccff;
$footerSectionOneTextColor: #244A64;



//tyoography

$headingFont:'Roboto Condensed', sans-serif;

$bodyFont:'Roboto', sans-serif;


 