//content color

$formBackgroungColor: #154A66;
$navBoxColor: #333333;
$whiteColor: #ffffff;
$blueColor: #3399cc;
$viewSelectionTextColor: #666666;
$formBoxColor: #cccccc;
$footerBoxColor: #333366;
$footerSectionOneBox: #ccccff;
$footerSectionOneTextColor: #333366;



//tyoography

$headingFont:'Roboto Condensed', sans-serif;

$bodyFont:'Roboto', sans-serif;


 