.video-section{
    background-color: $blueColor;
    text-align: center;

    iframe{
        margin: 10% auto;
        padding:0 10px;
        border:15px $videoBorder solid ;
        background-color: green;
        width: 340px;
        height: 240px;
    }
    
}

.video-section{
 
    @media(min-width: 500px){
        height:500px;
     iframe{
        height: 400px;
        width: 600px;
        margin: 30px auto;
     }
    }//media query ends
}

