.video-section{
    background-color: $blueColor;
    

    video{
        margin: 10% auto;
        padding:0 10px;
        border:15px blue solid ;
        background-color: green;
        width: 340px;
        height: 240px;
    }
    
}

