.video-section{
    background-color: $blueColor;
    text-align: center;

    video{
        margin: 10% auto;
        padding:0 10px;
        border:15px $videoBorder solid ;
        background-color: green;
        width: 340px;
        height: 240px;
    }
    
}

.video-section{
 
    @media(min-width: 500px){
     video{
        height: auto;
        width: 70vw;
        margin: 30px auto;
     }
    }//media query ends
}


.video-section{

    @media(min-width: 900px){        

     video{
        width: 60vw;
        height: auto;
     }
    }//media query ends
}

