.white-background{

    .white-wave{
        width: 1920px;
        height: auto;
        overflow: hidden;
        position: relative;
        left: 0;
        top: -30px;
        z-index: 2001;
    }

    a{
        display: none;
    }

    h2{
        font-size: 28px;
        font-weight: 600;
        text-align: center;
        padding: 20px 30px 0 30px;
        color: $videoBorder;
        }

    p{
        padding: 5%;
        font-size: 16px;
        text-align: center;
        margin: 0 20px;
    }

    h3{
        @include text-style;
        color: black;
        font-size: 18px;
        font-weight: 700;
        width: 40vw;
        margin: 20% auto;
    }

    .product-placement{
        display: flex;
        justify-content: space-between;
        border-bottom: gray 1px solid;
        padding: 20px;
        height: 33vh;
    }

    img{
        width: 200px;
        height: auto;
    }

    .last-pp{
        border: none;
        margin-bottom: 20px;
    }

} 


/*=========== wider version ========= */

.white-background{

@media only screen and (min-width: 500px){


    .white-wave{
        position: relative;
        top: -40px;
    }
    h2{
        padding-top: 20px;
    }
    p{
        padding: 20px 5%;  
      }
      
    .wb-to-flex{
        display: flex;
        justify-content: space-evenly;
        width: 100%;    
    }

    .product-placement{
        border: none;
        display: block;
        height: auto;
        width: 20%;
        margin-bottom: 50px;

        a{
            display: block;
            text-decoration: underline;
            color: black;
            text-align: center;
        }

        h3{
            margin: 0;
            margin-top: 10px;
            width: auto;
            color: $blueColor;
            font-size: 20px;
            height: 50px;
        }

    
    

    }//end .product-placement

}//end media query

} // end .white-background

// large screen
.white-background{
    
@media (min-width: 900px){
   
    padding-bottom: 50px;
    h2{
        padding: 0 20%;
    }

    p{
        margin: 0 15%;
    }
   .white-wave{
        top: -25px;

    }
    .product-placement{

        h3{
            font-size: 24px;
        }
    }

}//end m-q

}//end .w-b

.product-placement{
    
    @media (min-width: 1450px){

        img{
            margin-left: 60px;
        }

        
        
        
    }}

.white-background{
    @media (min-width:1500px){
        .white-wave{
                    top: -40px;
            
                }

}    }