.white-background{
    .white-wave{
        width: 100%;
        height: 30px;
        position: relative;
        top: -20px;
        z-index: 200;
    }

    a{
        display: none;
    }

    h2{
        font-size: 28px;
        font-weight: 600;
        text-align: center;
        padding: 20px 30px 0 30px;
    }

    p{
        padding: 5%;
        font-size: 16px;
        text-align: center;
        margin: 0 20px;
    }

    h3{
        @include text-style;
        color: black;
        font-size: 18px;
        font-weight: 700;
        width: 40vw;
        margin: 20% auto;
    }

    .product-placement{
        display: flex;
        justify-content: space-between;
        border-bottom: gray 1px solid;
        padding: 20px;
        height: 33vh;
    }

    img{
        width: 200px;
        height: auto;
    }

    .last-pp{
        border: none;
        margin-bottom: 20px;
    }

} 

