.white-background{
    .white-wave{
        width: 100%;
        height: 30px;
        position: relative;
        top: -20px;
        z-index: 200;
    }

    a{
        display: none;
    }

    h2{
        font-size: 28px;
        font-weight: 600;
        text-align: center;
        padding: 20px 30px 0 30px;
        color: $videoBorder;
        }

    p{
        padding: 5%;
        font-size: 16px;
        text-align: center;
        margin: 0 20px;
    }

    h3{
        @include text-style;
        color: black;
        font-size: 18px;
        font-weight: 700;
        width: 40vw;
        margin: 20% auto;
    }

    .product-placement{
        display: flex;
        justify-content: space-between;
        border-bottom: gray 1px solid;
        padding: 20px;
        height: 33vh;
    }

    img{
        width: 200px;
        height: auto;
    }

    .last-pp{
        border: none;
        margin-bottom: 20px;
    }

} 


/*=========== wider version ========= */

.white-background{

@media only screen and (min-width: 500px){
    margin-top: 50px;

    .white-wave{
        position: relative;
        top: 5px;
    }
    p{
        padding: 20px 5%;  
      }
      
    .wb-to-flex{
        display: flex;
        justify-content: space-evenly;
        width: 100%;    
    }

    .product-placement{
        border: none;
        display: block;
        height: auto;
        width: 20%;
        margin-bottom: 50px;

        a{
            display: block;
            text-decoration: underline;
            color: black;
            text-align: center;
        }

        h3{
            margin: 0;
            margin-top: 10px;
            width: auto;
            color: $blueColor;
            font-size: 20px;
            height: 50px;
        }

    

    }//end .product-placement

}//end media query

} // end .white-background

// large screen
.white-background{
@media (min-width: 900px){

    .product-placement{

        h3{
            font-size: 24px;
        }
    }

}//end m-q

}//end .w-b