 .white-background{


    a{
        display: none;
    }

    h2{
        font-size: 28px;
        font-weight: 600;
        text-align: center;
        margin-top: 25%;
        padding: 0 30px;
    }

    p{
        padding: 5%;
        font-size: 16px;
        text-align: center;
        margin: 0 20px;
    }

    h3{
        @include text-style;
        color: black;
        font-size: 18px;
        font-weight: 700;
        width: 40vw;
        margin: 20% auto;
    }

    .product-placement{
        display: inline-flex;
        padding: 5% 10%;
        border-bottom: gray 1px solid;
        height: 33vh;
    }

    img{
        width: 40vw;
        height: auto;
    }

    .last-pp{
        border: none;
    }

} 

