// Place your Sass imports here...


@import url(https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,500&display=swap);


//variables
@import "variables";
@import "mixins";

// resets
@import "reset";
@import "typography";



//html elements
@import "slides";
@import "hamburger-menu";
@import "header";
@import "wrapper";
@import "banner-image";
@import "white-background";
@import "form";
@import "about";
@import "video";

@import "footer-s1";
@import "footer-s2";
@import "footer-s3";

